.wrapper {
    max-width: 1280px;
    margin: auto;
}


header {
    background: #1d1d1d;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index:999;
}

.navbar {
    padding: 12px 0px;
}

* {
    font-family: 'Comfortaa', cursive;
}

#company-features {
    background-color: #5755d9;
    padding:24px;
}

#what-we-do {
    color: #db882b;
    padding: 12px 24px;
    font-family: 'Paytone One', sans-serif;
}

#about {
    padding: 24px 0px;
    background: url(../images/3px-tile.png);
    background-color: #000000;
}

#about .columns {
    margin-top: 51px;
}

#unit-size {
    padding: 24px 0px;
    background: url(../images/3px-tile.png);
    background-color: #1b1b1b;
}

#size-of-the-unit {
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    color: #db882b;
}

#unit-size-desc {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 12px;
    padding-bottom: 12px; 
    font-size: 14px;
    text-align: center;
    color: white;
}

.about-company {
    color: #ffffff;
    opacity: 0.75;
    padding: 0px 24px;
    font-size: 14px;
}

.thickness-icon, .quality-icon, .strength-icon {
    width: 23%
}

.infrastructure {
    background-color: grey;
    text-align: center;
    display: inline-block
}

#logo {
    height: 32px;
    vertical-align: middle;
}

#logo-container > a:hover {
    text-decoration: none;
}

#carousel-container {
    padding-left: 34px;
}

.carousel-image-container {
    height: 380px !important;
    border: 6px solid #db882b;
    background-color: black;
    margin: 12px 34px 24px 34px;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
}

.carousel-wrapper {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#unit-icon {
    height: 76px;
    margin: auto;
    display: block;
    padding-bottom: 24px;
}

#product-details {
    padding: 24px 0px;
    background: url(../images/3px-tile.png);
    background-color: #1b1b1b;
}

#product-title {
    color: #db882b;
    padding: 12px 24px 8px 24px;
    margin: 0px; 
    font-family: 'Paytone One', sans-serif;
}

#product-desc {
    padding: 0px 24px;
    color: #cccccc;
}

#features {
    font-family: 'Paytone One', sans-serif;
    padding: 0px 24px;
    color:#db882b;
}

a,a:visited {
    color: #ffffff !important;
    font-weight: 700;
}

.carousel {
    background: transparent;
}

.slick-prev {
    left: 0px;
    z-index: 999;
}

.slick-next {
    right: 0px;
}

.slick-dots {
    bottom: -6px;
}

.slick-prev:before, .slick-next:before{
    color:#ffffff;
}

.pd-carousel-image-container {
    border: 6px solid #db882b;
    background-color: #ffffff;
    margin-right: 12px; 
}

#pd-carousel > .slick-list {
    margin-left: 32px;
    margin-right: 24px;
}

#product-features {
    padding: 24px 0px;
    background-color: #db882b;
}

#product-feature-title {
    color: black;
    padding: 12px 24px 24px 24px;
    margin: 0px; 
    font-family: 'Paytone One', sans-serif;
}

.product-feature-desc {
    font-size: 14px;
    margin-left: 46px;
    position: relative;
    color: black;
}

.product-feature-desc > span {
    position: absolute;
    left: -4%;
    padding-top: 2px;
}

.round-button-icon {
    height: 15px;
}

.slick-slide img {
    height: 100%;
    margin: auto;
    object-fit: fill;
}

#quality-control {
    padding: 24px 0px;
    background: url(../images/batthern.png);
    background-color: #000000;
}

#quality-control-title {
    color: #db882b;
    padding: 12px 24px 12px 24px;
    margin: 0px; 
    font-family: 'Paytone One', sans-serif;
}

.quality-control-points {
    color: #a9a9a9;
    line-height: normal;
    margin-bottom: 8px;
  }

  #quality-control-equipments-title {
    padding: 24px;
    margin: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 3.2px;
  }

  .equipment-images {
    margin: 12px 34px 24px 34px;
  }

  .figure {
    background: #fff;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    border: 6px solid #db882b;
  }

  .figure > div {
      height: 240px;
      position: relative;
      padding: 8px;
  }

  .figure > div > img {
    max-height: 240px;
    max-width: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .figure-caption {
    margin: 0px;
    padding: 8px;
    color: white;
    background: #000000;
  }

  .figure .figure-caption {
    max-height: 40px;
  }

  .equipment-label {
      font-weight: 300;
      color: white !important;
  }
  /* -------------------------------------------------------------------------
  VERTICAL STEPPERS
-------------------------------------------------------------------------- */

/* Steps */
.my-step {
    position: relative;
    min-height: 1em;
    color: gray;
    margin: 0px 24px;
  }
  .my-step + .my-step {
    margin-top: 1.5em
  }
  .my-step > div:first-child {
    position: static;
    height: 0;
  }
  .my-step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
  }
  .my-step.step-active {
    color: #4285f4
  }
  .my-step.step-active .circle {
    background-color: #4285f4;
  }
  
  /* Circle */
  .circle {
    background: #000000;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
  }
  
  /* Vertical Line */
  .circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgb(219, 136, 43);
  }

  .my-step:last-child .circle:after {
    display: none;
  }

  /* Stepper Titles */
  .title {
    line-height: 1.5em;
  }

  #machinery-details {
    padding: 24px 0px;
    background: url(../images/3px-tile.png);
    background-color: #000000;
  }

  #machinery-details-title {
    color: #e08b2c;
    padding: 12px 24px 8px 24px;
    margin: 0px; 
    font-family: 'Paytone One', sans-serif;
    text-align: center;
  }

  .machinery-details-table {
    padding: 12px 24px 24px 24px;
  }

  th {
    color: #e08b2c;
}

.active {
    background: #33333380 !important;
}

.table.table-hover tbody tr:hover {
    background: #1b1b1b;
}

.active > td {
    color: white !important;
}

td {
    color:white !important;
}

.table td, .table th {
    border-bottom: .05rem solid #4c4c4c;
    padding: .6rem .4rem;
}

.table th {
    border-bottom-width: .1rem;
}

#green-works-title {
    padding: 24px;
    margin: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 33px;
    color: #00a006;
    text-align: center;
}

#green-works {
    padding: 24px 0px;
    background: url(../images/shley-tree-1.png);
    background-color: #3e3e3e;
}

#contact-us {
    padding: 24px 0px;
    background-color: #db882b;
}

#contact-us-title {
    color: black;
    padding: 12px 24px 30px 24px;
    margin: 0px; 
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}

.form-input {
    width: 400px;
    border-radius: 10px;
    background: transparent;
    border: solid black 2px;
}

.form-input:focus {
    border:solid 2px black;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.office-address-font {
    font-weight: 100;
    color: black;
}

#registered-office-title {
    color: black;
    font-weight: bolder;
}

.office-address {
    color:black;
    padding: 0 24px;
    float: right;
}

.button {
    border-radius: 10px;
    background-color: #e08b2c; 
    border: 2px solid black;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }